MeetingDetails,
CreateMeeting,
ErrorFrame,
QMainWindow{
    background-color: #040926;
}

QLabel#left_panel{
    background-color: #251351;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

QLabel#right_panel{
    background-color:#251351;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

QLabel#app_logo{
    background-image:url('img/app_logo.png')
}

QLabel#login_logo{
    background-image:url('img/login_logo.png');
}

QLabel#version_text{
    font-family: Roboto;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 800;
    color: #f5efef93;
}

QLabel#profile_logo{
    color:white;
}

QLabel#welcome_message{
    color:white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 28px;
    font-variant: small-caps;   
}

QLabel#profile_icon{
    background-image:url('img/profile_icon.png');
    border-radius:50%;
    border: 1px solid #040926;
}

QLabel#profile_icon_text{
    font-family: Roboto;
    font-weight: 500;
    font-size: 55px;
    font-variant: small-caps;   
    color:transparent;
}

QLabel#profile_icon_text:hover{
    color:white;
    background-color: #251351;
    border-radius: 50%;
}

QLabel#left_border{
    background-color:#251351;
}

QLabel#top_border{
    background-color:#251351;
}

QLabel#meeting_info{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 800;
    color: white;
}

QLabel#error_frame{
    color:#682929;
    font-family: Roboto;
    font-weight: 800;
    font-size: 12px;
    font-variant: small-caps;
}

QLabel#error_message{
    color:#682929;
    font-family: Roboto;
    font-weight: 800;
    font-size: 16px;
    font-variant: small-caps;

}

QLabel#meeting_details_underline{
    border: none;
    border-bottom: 2px solid white;
}

QLineEdit#login_input{
    font-family: Roboto;
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: transparent;
    border:none;
    border-bottom: 4px solid white;
}

QLineEdit#login_input:hover{
    border-bottom: 2px solid #040926;
    color: #ffe6e6;
}

QLineEdit#createmeet_input{
    font-family: Roboto;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
}

QLineEdit#createmeet_input:hover{
    border-bottom: 1px solid #251351;
    color: #ffe6e6;
}

QPushButton#login_button{
    border-radius: 20%;
    color: #e6dcdc;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: #040926;
}

QPushButton#login_button:hover{
    color: #d7fad4;
}

QPushButton#sidebar_button{
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 800;
    background-color: #251351;
    border-radius: 10px;
}

QPushButton#sidebar_active_button{
    color: #5e0e0e;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 800;
    background-color: #251351;
    border-radius: 10px;
}

QPushButton#create_button{
    background-color: #251351;
    border-radius: 20%;
    border: 1px solid #040926;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 800;

}

QPushButton#create_button:hover{
    background-color: #040926;
    color: #f0aaaa;
    border: 1px solid #251351;
}

QPushButton#close_button{
    background-color: #682929;
    border-radius: 20%;
    font-family: Roboto;
    color: white;
    font-weight: 800;
    border: 1px solid #040926;
}

QPushButton#close_button:hover{
    color: #f0aaaa;
    border: 1px solid #682929;
}

QCalendarWidget#calendar_widget QToolButton{
    color: white;
    background-color:#251351;
}

QCalendarWidget#calendar_widget QToolButton QMenu{
    background-color: #251351;
    color: white;
    font-family: Roboto;
}

QCalendarWidget#calendar_widget QToolButton QMenu::item::selected:enabled{
    color: #040926;
}

QCalendarWidget#calendar_widget QToolButton:pressed{
    color: white;
}

QCalendarWidget#calendar_widget QToolButton:hover{
    background-color:#251351;
    border: none;
    color: white;
}

QCalendarWidget#calendar_widget QAbstractItemView:enabled{
    color: white;
    outline: 0;
}

QCalendarWidget#calendar_widget QWidget{
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    alternate-background-color: #251351; 
}

#qt_calendar_calendarview{
    outline: 0;
    background-color: #251351;
    border-top: 1px solid #040926;
}

#qt_calendar_calendarview::item:hover{
    border: 1px solid #1c2541;
}

#qt_calendar_calendarview::item:selected{
    background-color: #1c254177;
}

#qt_calendar_prevmonth,
#qt_calendar_nextmonth{
    border: none;
    qproperty-icon: none;
    width: 13px;
    height: 13px;;
    border-radius: 5px;
    background-color:transparent;
    padding:5px;
}

#qt_calendar_prevmonth{
    margin-right: 5px;
    image: url('img/prev_month.ico');
}

#qt_calendar_nextmonth{
    margin-left: 5px;
    image: url('img/next_month.ico');
}

#qt_calendar_yearedit{
    min-width: 53px;
    color: white;
    background:transparent;
    font-size: 13px;
}

#qt_calendar_navigationbar{
    background-color: #251351;
}

QDateEdit#date_input{
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

QDateEdit#date_input:hover{
    border-bottom: 1px solid #251351;
    color: #ffe6e6;
}

QTimeEdit#time_input{
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

QTimeEdit#time_input:hover{
    border-bottom: 1px solid #251351;
    color: #ffe6e6;
}