QMainWindow{
    background-color: #0b132b;
}

QLabel#left_panel{
    background-color: #3a506b;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

QLabel#right_panel{
    background-color:#1c2541;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

QLabel#app_logo{
    background-color:#3a506b;
}

QLabel#login_logo{
    background-image:url('img/login_logo.png');
}

QLabel#version_text{
    font-family: Roboto;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 800;
    color: #afa9a993;
}

QLabel#error_frame{
    color:#682929;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 13px;
    font-variant: small-caps;
}

QLabel#profile_logo{
    color:white;
}

QLabel#welcome_message{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 22px;
    font-variant: small-caps;   
}

QLabel#profile_icon{
    background-image:url('img/profile_icon.png');
    border-radius:50%;
    border: 1px solid #0b132b;
}

QLabel#profile_icon_text{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 50px;
    font-variant: small-caps;   
    color:transparent;
}

QLabel#profile_icon_text:hover{
    color:white;
    background-color: goldenrod;
    border-radius: 50%;
}

QLabel#left_border{
    background-color:#1c2541;
}

QLabel#top_border{
    background-color:#1c2541;
}

QLineEdit#login_input{
    font-family:sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 14px;
    background-color: #3a506b;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1.5px solid #0b132b;
}

QLineEdit#login_input:hover{
    border-bottom: 1.5px solid #1c2541;
}

QPushButton#login_button{
    border-radius: 20%;
    color: #e6dcdc;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    background-color:#0b132b;
    /* border-bottom: 1px solid #3a506b; */
}

QPushButton#login_button:hover{
    color:white;
}

QPushButton#view_mett_button{
    background-color:goldenrod;
}

QPushButton#view_mett_button:hover{
    color:white;
}

QPushButton#plan_meeting_button{
    background-color: goldenrod;
}

QPushButton#plan_meeting_button:hover{
    color:white;
}

QPushButton#view_teams_button{
    background-color: goldenrod;
}

QPushButton#view_teams_button:hover{
    color:white;
}

QCalendarWidget#calendar_widget::pane{
    background-color: #3a506b;
    border: 1px solid #0b132b;
    border-radius: 10px;
}